{% extends "layouts/base.html" %}
{% block content %}
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-6 ">
            <form action="">
              <div class="contact_form-container">
                <div>
                  <div>
                    <input type="text" placeholder="Name" />
                  </div>
                  <div>
                    <input type="email" placeholder="Email" />
                  </div>
                  <div>
                    <input type="text" placeholder="Age" />
                  </div>
                  <div>
                    <input type="text" placeholder="Gender" />
                  </div>
                  <div>
                    <input type="text" placeholder="Password" />
                  </div>
                  <div>
                    <input type="text" placeholder="Confirm Password" />
                  </div>
                  <div class="">
                    <button type="submit">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/about-img.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}